<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppGroupName</key>
	<string>group.net.darkce.privatespace</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$CFBundleDisplayName</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>calculator</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>calculator120x120</string>
					<string>calculator167x167</string>
					<string>calculator128x128</string>
					<string>calculator152x152</string>
					<string>calculator180x180</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>clock</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>clock152x152</string>
					<string>clock167x167</string>
					<string>clock128x128</string>
					<string>clock120x120</string>
					<string>clock180x180</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>housekeeper</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>housekeeper152x152</string>
					<string>housekeeper167x167</string>
					<string>housekeeper128x128</string>
					<string>housekeeper120x120</string>
					<string>housekeeper180x180</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>password_box</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>password_box152x152</string>
					<string>password_box167x167</string>
					<string>password_box128x128</string>
					<string>password_box120x120</string>
					<string>password_box180x180</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>todo</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>todo152x152</string>
					<string>todo167x167</string>
					<string>todo128x128</string>
					<string>todo120x120</string>
					<string>todo180x180</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CodePushDeploymentKey</key>
	<string>$(CODEPUSH_KEY)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>wechat</string>
		<string>snssdk1128</string>
		<string>bilibili</string>
		<string>weixin</string>
		<string>mqq</string>
		<string>kwai</string>
		<string>snssdk1233</string>
		<string>facebook</string>
		<string>twitter</string>
		<string>instagram</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>codepush.appcenter.ms</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>$NSAppleMusicUsageDescription</string>
	<key>NSCameraUsageDescription</key>
	<string>$NSCameraUsageDescription</string>
	<key>NSFaceIDUsageDescription</key>
	<string>$NSFaceIDUsageDescription</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>$NSLocationWhenInUseUsageDescription</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>$NSMicrophoneUsageDescription</string>
	<key>NSMotionUsageDescription</key>
	<string>$NSMotionUsageDescription</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>$NSPhotoLibraryAddUsageDescription</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$NSPhotoLibraryUsageDescription</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
